################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/game_code/.vs/
/game_code/bin/x64/
/game_code/sim-game/x64/
/unit-test/testbin/x64/
/unit-test/x64/
