################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/sim-game/.vs/sim-game
/unit_test/x64/Debug
/sim-game/sim-game/x64/Debug
/sim-game/x64/Debug
