################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
build/
.vscode/
src/gui/*/build
src/gui/*/*.ini
src/gui/*/*.json
*/CMakeFiles
*/CMakeScripts
*/Makefile
*/cmake_install.cmake
*/cmake_uninstall.cmake
*/install_manifest.txt
*/Makefile